@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pilat Regular";
  src: url('../assets/fonts/pilat/PilatWide-Light.woff2') format('woff2'),
      
       /* url('path/to/font.woff') format('woff'),
       url('path/to/font.ttf') format('truetype'),
       url('path/to/font.eot') format('embedded-opentype'),
       url('path/to/font.otf') format('opentype'); */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pilat Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root {
  --primary: #3551ff;
  --light: #fff;
  --dark: #141414;
  --success: #00b57a;
  --semi-light: #f3f3f3;
  --yellow: #ffd545;
  --border-color: #d0d0d0;
}

.container {
  padding-right: 9%;
  padding-left: 9%;
}